@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500&display=swap");
#root {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  color: #2b2d42;
  font-family: "Anuphan", sans-serif;
}

.clickIcon:hover {
  cursor: pointer;
}

.smallIcon {
  width: 16px;
  height: 16px;
}
.addPersonsButton {
  background: white;
  color: black;
  height: 30px;
  display: "flex";
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  transition: 0.3s;
  opacity: 0.6;
}

.addPersonsButton:hover {
  background: #d7d7d7;
  transition: 0.3s;
  border: 0;
  opacity: 0.6;
}

.errorText {
  color: red;
  font-size: 14px;
}

.font-bold {
  font-weight: bold !important;
}
