@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500&display=swap");
#root {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  color: #2b2d42;
  font-family: "Anuphan", sans-serif;
}

.clickIcon:hover {
  cursor: pointer;
}

.smallIcon {
  height: 12px;
  width: 12px;
}

.smallIcon:hover {
  cursor: pointer;
}

.errorText {
  color: red;
  font-size: 14px;
}

.font-bold {
  font-weight: bold !important;
}

@media (min-width: 790px) {
  .autoSize {
    width: 85%;
  }
}
